@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    background: black url('img/espaco.jpg') center center no-repeat fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

#astronauta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 26%;
    -webkit-filter: drop-shadow(0 0 7px rgba(45, 111, 147, .5));
    filter: drop-shadow(0 0 7px rgba(45, 111, 147, .5));
}